$var title: About

<h2>About</h2>

<h3>Why another pastebin clone?</h3>
<p>I know, no one needs another pastebin clone. I think <a href="http://dpaste.com">dpaste</a>,
<a href="http://pastie.caboo.se/">Pastie</a> and <a href="http://paste.pocoo.org/">Lodge It</a>
are amazing full featured services. I just wrote another tool like those
because I was bored and thought that could be a good programming exercise for a newbie like me.</p>

<h3>Some features</h3>
<ul>
<li>A clean and intuitive user interface. It means no boring forms and syntax highlight disabled by default.</li>
<li>MD5 hash for every entry preventing duplicates and auto expiry for old pastes means that database never fills up.</li>
<li>You can reply pastes, see differences and download a unified diff file.</li>
</ul>

<h3>Software used</h3>
<p>Just few lines of <a href="http://www.python.org">Python</a> code using <a href="http://webpy.org">web.py</a> (anti)framework, <a href="http://www.sqlobject.org">SQLObject</a> as database layer, <a href="http://www.sqlite.org">SQLite</a> to store all stuff and some <acronym title="HyperText Markup Language">HTML</acronym>/<acronym title="Cascading Style Sheets">CSS</acronym> bullshit.</p>

<h3>Who?</h3>
<p>Pasted has been coded by Vinícius Figueiredo, just another nerd interested in computer science, videogames, movies and hardcore music. You can check a lot more about me on my personal <a href="http://vinicius.oitobits.net">webSHITe</a>.</p>
