$def with (self)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <link rel="stylesheet" href="/static/highlight/styles/github.css" type="text/css">
    <title>Pasted: $self.title</title>
    <script type="text/javascript" src="/static/highlight/highlight.pack.js"></script>
    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
    </script>
</head>

<body>

<div id="header">
    <div id="wrapper">
        <div id="logo">
            <h1>Pasted</h1>
            <p>Yeah! Just another pastebin clone. Enjoy!</p>
        </div>
        <div id="menu">
            <ul class="navigation">
                <li><a href="/" title="Create a new paste">New</a></li>
                <li><a href="/latest" title="List latest pastes">Latest</a></li>
                <li><a href="/about" title="Everything about Pasted universe (nothing much in fact)">About</a></li>
                <li><a href="/help" title="Confused? Looking for a friend? Click Help!">?</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="content">
    <div id="wrapper">
        $:self
    </div>
</div>

</body>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-251194-4");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</html>
