$def with (original=None)

$if original is not None:
    $var title: Reply to #${original.id}
$else:
    $var title: New

<div id="form">
    <form method="post" action="add">
    $if original is not None:
        <p><textarea name="code" rows="10" cols="80">$original.code</textarea></p>
        <input type="hidden" name="parent" class="hide" value="$original.id" />
    $else:
        <p><textarea name="code" rows="10" cols="80"></textarea></p>
        <input type="hidden" name="parent" class="hide" value="" />
    <p><input type="submit" value="Paste!" /></p>
</div>
</form>
