$def with (paste, colorful_code=False)

$var title: $paste.id

<h2>Paste <a href="http://p.oitobits.net/view/$paste.id">#${paste.id}</a></h2>

<div id="control-bar">
    &#8227; <a href="/view/${paste.id}.txt" title="see a plain text version">text version</a>
    &#8227; <a href="/reply/$paste.id" title="create a new paste based on this one">reply</a>
    $if paste.parent:
        &#8227; paste in reply to <a href="/view/$paste.parent" title="see original paste">#${paste.parent}</a>
        &#8227; <a href="/diff/$paste.parent/$paste.id" title="see differences between #${paste.parent} and #${paste.id}">diff</a>
</div>

<pre><code>$paste.code</code></pre>
